API_TOKEN=your_telegram_bot_api_token
DATABASE_URL=postgresql://postgres:[abd201717121413]@db.yscpunritjgqozjjpvwc.supabase.co:5432/postgres
ADMIN_CODE=your_admin_access_code
DEFAULT_LANGUAGE=uz
SHOP_NAME=your_shop_name
SHOP_ADDRESS=https://maps.app.goo.gl/e8YrtQDoaKWuLq6o7
CONTACT_PHONE=+998916605248
CONTACT_TELEGRAM=@username